@model RegistrationProject.Models.RegistTable

@{
    ViewData["Title"] = "Create";
}

<h1 style="color:blue">Create</h1>

<h4 style="color:dodgerblue">New Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImage" class="control-label"></label>
                <input asp-for="ProfileImage" class="form-control" />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@
        @using (Html.BeginForm("Create", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Name" name="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label for="EmailId">Email</label>
                <input type="text" class="form-control" id="EmailId" name="EmailId">
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label for="Gender">Gender</label>
                <select class="form-control" id="Gender" name="Gender">
                    <option value="">--Select Gender--</option>
                    @*@foreach (var gender in ViewBag.Gender)
                    {
                        <option value="@gender">@gender</option>
                    }*@
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label for="MobileNumber">Mobile Number</label>
                <input type="text" class="form-control" id="MobileNumber" name="MobileNumber">
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label for="Country">Countries</label>
                <br/>
               
                    <input type="checkbox" id="India" name="Country" value="India" /> India <br />
                   <input type="checkbox" id="Australia" name="Country" value="Australia" /> Australia <br />
                 <input type="checkbox" id="America" name="Country" value="America" /> America <br />
                <input type="checkbox" id="China" name="Country" value="China" /> China<br />
                <span asp-validation-for="Country" class="text-danger"></span>
                
            </div>
            <br/>

            <div class="form-group">
                <label for="ProfileImage">Profile Image</label>
                <input type="file" name="ProfileImage" id="ProfileImage">
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
